body
    height: 100%
    background-color: $body-background-color
    font-family: $body-font-family
    color: $body-font-color

p
    font-family: $p-font-family
    font-size: $p-font-size
    color: $p-font-color

h1,h2,h3,h4,h5,h6
    color: $h-font-color

a
    font-family: $a-font-family
    font-size: $a-font-size
    color: $a-font-color

a > h4:hover
    color: $primary-color !important

// .container-fluid:before
//     height: 50px
//     content: ""
//     display: block

// .container-fluid:after
//     height: 50px
//     content: ""
//     display: block