.navbar
    background-color: $secondary-color

.nav-link
    font-weight: 600
    color: $primary-color

.nav-link:hover
    color: $light-gray

.hero
    background-color: $secondary-color

.lead
    font-size: 1.3125rem
    font-weight: 400

.bg-gray
    background-color: var(--bs-gray-100)

.primary-bg
    background-color: $primary-color !important

.secondary-bg
    background-color: $secondary-color !important

.primary-text-color
    color: $primary-color !important

.secondary-text-color
    color: $secondary-color !important

.icon
    font-size: 60px
    padding: 16px
    color: var(--bs-gray-400)
    transition: 0.5s all

.icon:hover
    color: $primary-color
    transition: 0.5s all

.wave
    position: absolute

.btn
    color: $secondary-color
    border: var(--bs-btn-border-width) solid $secondary-color

.btn:hover
    background-color: $secondary-color
    color: $primary-color