.navbar
    background-color: #fff

.nav-link
    font-weight: 600

.nav-link:hover
    color: $primary-color

.hero
    background-color: $hero-bg

.lead
    font-size: 1.3125rem
    font-weight: 400

.bg-gray
    background-color: var(--bs-gray-100)

.primary-text-color
    color: $primary-color

.icon
    font-size: 60px
    padding: 16px
    color: #000
    transition: 0.5s all

.icon:hover
    color: $primary-color
    transition: 0.5s all