$primary-color: #36C6F7
$secondary-color: #2A2939
$light-gray: #b0b0c9
$font-family: 'Baloo 2', cursive

// body
$body-background-color: $secondary-color
$body-font-family: $font-family
$body-font-color: $light-gray

// headers
$h-font-family: $font-family
$h-font-size: 34px
$h-font-color: #b0b0c9

// paragraphs
$p-font-family: $font-family
$p-font-size: 20px
$p-font-color: $light-gray

// links
$a-font-family: $font-family
$a-font-size: 20px
$a-font-color: $light-gray