$primary-color: #006cd1

// body
$body-background-color: #fff
$body-font-family: var(--bs-font-sans-serif)
$body-font-color: #000

// headers
$h-font-family: $body-font-family
$h-font-size: 32px
$h-font-color: #000

// paragraphs
$p-font-family: $body-font-family
$p-font-size: 18px
$p-font-color: var(--bs-gray-600) 

// links
$a-font-family: $body-font-family
$a-font-size: 18px
$a-font-color: $body-font-color